name: Everyday Prune
on:
  schedule:
    - cron: '0 19 * * *'
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call our API route
        run: |
          curl --request POST \
          --url 'https://chatroom-two.vercel.app/api/cron' \
          --header 'Authorization: Bearer ${{ secrets.CRON_KEY }}'
